pyright
black
sphinx
types-pkg-resources==0.1
pytket==1.29
pytket-qiskit
pytket-qulacs
pre-commit
wheel
pytest<8.0.0
py
pytest-parallel
pytest-lazy-fixture
ipykernel
numpy<2.0
numba
pandas
pandas-stubs
scipy
sympy==1.12
stim
nbconvert
nbformat
matplotlib